section.s-builder {
	padding-top: 0;
	padding-bottom: 0;

	&.small {
		padding: 0;
	}

	// &.is-odd {
	// 	.content {
	// 		&:nth-child(odd) {
	// 			background-color: #f1f1f1;
	// 		}
	// 	}
	// }
	//
	// &.is-even {
	// 	.content {
	// 		&:nth-child(even) {
	// 			background-color: #f1f1f1;
	// 		}
	// 	}
	// }

	.content {
		position: relative;
		width: 100%;
		// padding: 1em 0;

		.container {
			padding-bottom: 0;
		}

		&:last-of-type {
			padding-bottom: 4em;
		}

		&.full {
			.container {
				.block {
					margin-bottom: 1em;

					@media(min-width: $breakpoint-20) {
						margin-bottom: 0;
					}

					&.img {
						position: relative;
						display: block;

						figure {
							position: relative;
							img {
								position: relative;
								width: 100%;
								height: auto;
							}
						}

						.overlay {
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,.2);
							z-index: 2;
							@include transition;

							i {
								position: absolute;
								transform: translate(-50%, -50%);
								top: 50%;
								left: 50%;
								color: $brand;
								font-size: 3rem;
							}
						}

						&:hover {
							.overlay {
								background-color: rgba(0,0,0,.6);
								@include transition;
							}
						}
					}

					&.text {
						text-align: justify;
						color: $font-light;

						b, strong {
							color: $font;
							font-weight: bold;
						}

						blockquote {
							padding: 1em;
						    margin: 1em .5em;
						    font-size: 2em;
						    border-left: 3px solid $brand;
							font-style: italic;

							p {
								margin: 0;
								line-height: 1.4em;
    							text-align: left;
							}
						}
					}
				}
			}
		}

		&.half {
			.container {
				@include flexbox;
				@include flex-flow(row nowrap);
				@include align-items(stretch);
				// @include justify-content(center);

				.block {
					position: relative;
					@include flex(0 0 calc(100%));
					margin-bottom: 1em;

					@media(min-width: $breakpoint-20) {
						margin-bottom: 0;
					}

					@media (min-width: $breakpoint-20) {
						@include flex(0 0 calc(50% - 2em));
						margin-bottom: 0;

						&:nth-child(odd) {
							margin-right: 2em;
						}

						&:nth-child(even) {
							margin-left: 2em;
						}
					}

					&.img {
						position: relative;
						display: block;

						figure {
							position: relative;
							img {
								position: relative;
								width: 100%;
								height: auto;
							}
						}

						.overlay {
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,.2);
							z-index: 2;
							@include transition;

							i {
								position: absolute;
								transform: translate(-50%, -50%);
								top: 50%;
								left: 50%;
								font-size: 3rem;
							}
						}

						&:hover {
							.overlay {
								background-color: rgba(0,0,0,.6);
								@include transition;
							}
						}
					}

					&.text {
						text-align: justify;
						color: $font-light;

						@include flexbox;
						@include flex-flow(column wrap);
						// @include justify-content(center);
						@include align-items(flex-start);

						b, strong {
							color: $font;
							font-weight: bold;
						}

						blockquote {
							padding: 1em;
						    margin: 1em .5em;
						    font-size: 2em;
						    border-left: 3px solid $brand;
							font-style: italic;

							p {
								margin: 0;
								line-height: 1.4em;
    							text-align: left;
							}
						}
					}
				}
			}
		}

		&.third {
			.container {
				@include flexbox;
				@include flex-flow(row wrap);
				@include align-items(stretch);
				// @include justify-content(center);

				.block {
					position: relative;
					width: calc(100%);
					margin-bottom: 1em;

					@media(min-width: $breakpoint-20) {
						margin-bottom: 0;
					}

					@include flexbox;
					@include flex-flow(column nowrap);

					@media (min-width: $breakpoint-20) {
						width: calc(33.3% - 1.33em );

						&:nth-child(1) {
							margin-right: 2em;
						}

						&:nth-child(3) {
							margin-left: 2em;
						}
					}

					&.img {
						position: relative;
						display: block;

						figure {
						position: relative;
							img {
								position: relative;
								width: 100%;
								height: auto;
							}
						}

						.overlay {
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,.2);
							z-index: 2;
							@include transition;

							i {
								position: absolute;
								transform: translate(-50%, -50%);
								top: 50%;
								left: 50%;
								font-size: 3rem;
							}
						}

						&:hover {
							.overlay {
								background-color: rgba(0,0,0,.6);
								@include transition;
							}
						}
					}

					&.text {
						text-align: justify;
						color: $font-light;

						b, strong {
							color: $font;
							font-weight: bold;
						}

						blockquote {
							padding: 1em;
						    margin: 1em .5em;
						    font-size: 2em;
						    border-left: 3px solid $brand;
							font-style: italic;

							p {
								margin: 0;
								line-height: 1.4em;
    							text-align: left;
							}
						}
					}

					&.both {
						figure {
							position: relative;
							img {
								position: relative;
								width: 100%;
								height: auto;
								margin-bottom: 1em;
							}
						}
					}

					&.icon {
						> i {
							width: 100px;
							height: 100px;
							font-size: 3em;
							text-align: center;
							margin: 1em auto;
							line-height: 100px;
							background-color: gray;
							border-radius: 50%;
							color: $white;
						}
					}
				}
			}
		}

		&.news {
			.container {
				position: relative;
				@include flexbox;
				@include flex-flow(row wrap);
				@include align-items(stretch);

				.item{
					position: relative;
					width: 100%;
					text-decoration: none;
					border: 1px solid lighten($color-neutral, 70%);
					margin-bottom: 2em;
					@include transition;

					@media (min-width: $breakpoint-20) {
						width: calc(50% - 1em);

						&:nth-child(odd) {
							margin-right: 2em;
						}

						&:nth-child(even) {
							margin-right: 0em;
						}
					}

					@media (min-width: $breakpoint-30) {
						width: calc(25% - 1.5em);

						&:nth-child() {
							margin-right: 0;
						}

						&:nth-child(1) {
							margin-right: 2em;
						}

						&:nth-child(2) {
							margin-right: 2em;
						}

						&:nth-child(3) {
							margin-right: 2em;
						}
					}

					&:hover {
						box-shadow: $box-shadow-20;
						color: inherit;

						@include transition;
					}
					.image {
						width: 100%;
						height: 150px;
						overflow: hidden;
						figure {
							position: relative;
							img {
								position: relative;
								width: 100%;
								height: auto;
							}
						}
					}

					.inner{
						padding: 1em 1em 3em 1em;

						h3 {
							display: block;
							width: 100%;
							font-size: 1.2em;
							font-weight: bold;
							margin: 0;
						}

						span.date {
							display: block;
							width: 100%;
							font-size: 0.75em;
							margin-bottom: 1em;
						}

						p {
							font-size: 0.9em;
							line-height: 1.8em;
						}

						span.read-more {
							font-size: 0.9em;
							position: absolute;
							bottom: 1em;
							left: 1em;
							right: 0;
						}
					}
				}
			}
		}

		&.childpages {
			.container {
				@include flexbox;
				@include flex-flow(row wrap);

				a {
					position: relative;
					width: calc(100%);
					height: 180px;
					padding: 1em;
					margin-bottom: 2em;

					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					background-color: $gray;

					@include flexbox;
					@include flex-flow(column nowrap);
					@include justify-content(flex-end);
					@include transition;

					text-decoration: none;

					@media(min-width: $breakpoint-20) {
						width: calc(50% - 1em);

						&:nth-child(odd) {
							margin-right: 1em;
						}

						&:nth-child(even) {
							margin-left: 1em;
						}
					}

					@media(min-width: $breakpoint-30) {
						width: calc(25% - 1.5em);

						&:nth-child(odd) {
							margin-right: 0em;
						}

						&:nth-child(even) {
							margin-left: 0em;
						}

						&:nth-child(1) {
							margin-right: 2em;
						}

						&:nth-child(2) {
							margin-right: 2em;
						}

						&:nth-child(3) {
							margin-right: 2em;
						}
					}

					h3 {
						color: $brand;
						font-weight: bold;
						text-shadow: 1px 1px rgba(0,0,0,.3);
					}

					&:hover {
						box-shadow: $box-shadow-10;
						@include transition;
					}
				}
			}
		}
	}

	//**************************************************************************
	//general

	// a.button {
	// 	margin-top: 1em;
	// 	color: $white;
	// }
	//
	// a {
	// 	color: $brand;
	//
	// 	&:hover {
	// 		color: $secondary;
	// 	}
	// }
}
