// =========== Buttons

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

%button {
	// @extend %h3;

	position: relative;
	display: inline-block;
	margin: 0;
	padding: 1.1rem 1.5rem;
	width: auto;

	border: 0;

	font-family: $font-family-body;
	font-size: 0.95rem;
	line-height: 1.5em;
	text-decoration: none;
	vertical-align: bottom;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	cursor: pointer;
	transition: all $transition;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	@media (min-width: $breakpoint-20) {
		// padding: 1.5rem;
		width: auto;

		font-size: $font-size-20;
		text-align: left;
	}

	&:focus {
		outline: 0;
	}
	&.has-icon {
		position: relative;
		padding: 1.1rem 3rem 1.1rem 1.1rem;
		i {
			position: absolute;
			font-size: 0.9rem;
			top: 50%;
			right: 1rem;
			transform: translate(0, -50%);
			@include transition;
		}
	}
}

// The standard button has the $color-brand colors
.button,
input[type=submit],
button {
	@extend %button;
	background: $secondary;
	color: $white;
	font-weight: 500;

	i {
		color: $white;
	}

	&:hover {
		background: $gray;
		color: $white;
		box-shadow: $box-shadow-10;
	}

	&:active,
	&:focus {
		box-shadow: inset 0 1px 3px rgba($black, .2);
	}
}

.button--primary, {
	@extend %button;
	background: $brand;
	color: $white;
	font-weight: 500;

	i {
		color: $white;
	}

	&:hover {
		background: $gray;
		color: $white;
		box-shadow: $box-shadow-10;
	}

	&:active,
	&:focus {
		box-shadow: inset 0 1px 3px rgba($black, .2);
	}
}

.button--light {
	@extend %button;
	background: $white;
	color: $font;
	font-weight: 500;

	&:hover {
		background: $gray;
		color: $white;
		box-shadow: $box-shadow-10;

		i {
			color: $white;
			@include transition;
		}
	}

	&:active,
	&:focus {
		box-shadow: inset 0 1px 3px rgba($black, .2);
	}
}
