// =========== Forms
// Adjust #{$form__field-margin} to change all form margins simultaneously
// Do NOT change the calculations because it might break up the form
$form__field-margin: 1.5;
.form {
	margin: 0;
	&__row {
		@include grid-container();
		margin-bottom: (100% / $grid-columns) * $form__field-margin;
	}
	&__field {
		@include grid(48);
		@media (min-width: $breakpoint-20) {
			&--half {
				margin-bottom: 1em;
				&:nth-child(2n+1) {
					@include grid(24, 0, $form__field-margin * .5);
				}
				&:nth-child(2n+2) {
					@include grid(24, $form__field-margin * .5, 0);
				}
			}
			&--one-fourth{
				&:nth-child(4n+1) {
					@include grid(12, 0, $form__field-margin * .75);
				}
				&:nth-child(4n+2) {
					@include grid(12, $form__field-margin * .25, $form__field-margin * .5);
				}
				&:nth-child(4n+3) {
					@include grid(12, $form__field-margin * .5, $form__field-margin * .25);
				}
				&:nth-child(4n+4) {
					@include grid(12, $form__field-margin * .75, 0);
				}
			}
			&--three-fourth{
				&:first-child {
					@include grid(36, 0, $form__field-margin * .25);
					+ .form__field--one-fourth{
						@include grid(12, $form__field-margin * .75, 0);
					}
				}
				&:last-child{
					@include grid(36, $form__field-margin * .25, 0);
				}
			}
			&--one-third{
				&:nth-child(3n+1){
					@include grid(16, 0, $form__field-margin * ( 2 / 3));
				}
				&:nth-child(3n+2){
					@include grid(16, $form__field-margin * (1 / 3), $form__field-margin * (1 / 3));
				}
				&:nth-child(3n+3){
					@include grid(16, $form__field-margin * (2 / 3), 0);
				}
			}
			&--two-third {
				&:first-child{
					@include grid(32, 0, $form__field-margin * (1 / 3));
					+ .form__field--one-third{
						@include grid(16, $form__field-margin * (2 / 3), 0);
					}
				}
				&:last-child{
					@include grid(32, $form__field-margin * (1 / 3), 0);
				}
			}
		}
	}
}

// Input styling
input[type=search] {
	-webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
	display: block;
	margin: 0;
	padding: 1rem;
	width: 100%;

	border: 1px solid #C8C8C8;
	border-radius: $border-radius-10;

	font-family: $font-family-body;
	font-size: $font-size-30;
	color: $black;
	line-height: 1.5em;
	vertical-align: baseline;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:focus {
		border: 1px solid darken(#C8C8C8, 5%);
		box-shadow: 0 0 3px rgba($black, .1);
		outline: 0;
	}
}

textarea {
	display: block;
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

select {
	-webkit-appearance: menulist;
	height: 2.85rem;

	&[multiple] {
		-webkit-appearance: none;
		height: auto;
	}
}

legend {
	border: 0;
	display: block;
}

// iphone scale fix
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	font-size: 16px;
}

.required {
	&.error {
		background-color: rgba(255,0,0, .1);
	}
}

#contact_results {
	p {
		padding: 3em;
		color: $white;
		&.error {
			background-color: rgba($red-alert, .8);
		}

		&.success {
			background-color: rgba($green-alert, .8);
		}
	}
}
