.socials {
	i {
		display: inline-block;
		position: relative;
		color: $white;
		background-color: darken($brand, 10%);
		// box-shadow: $box-shadow-20;
		text-align: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 0;
		font-size: 1.1rem !important;
		z-index: 99;
		margin-bottom: .6em;

		text-decoration: none;

		@include transition;

		&:before {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			color: $white;
			background-color: lighten($brand, 10%);
			box-shadow: $box-shadow-10;
			@include transition;
		}
	}

	a {
		overflow: visible;
	}
}
