.underline {
	position: relative;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	&:after {
		content: "";
		height: 3px;
		width: 20px;
		background-color: $white;
		display: block;
		position: absolute;
		bottom: -3px;
	}
}
