footer.footer {
	background-color: $footer;
	color: $white;

	.container {
		padding-top: 4em;
		padding-bottom: 4em;

		@include flexbox();
		@include flex-flow(row wrap);

		@media(min-width: $breakpoint-30) {
			@include flex-flow(row nowrap);
		}

		.column {
			margin-bottom: 2em;
			width: 100%;

			@media(min-width: $breakpoint-30) {

				&:nth-child(2) {
					padding: 0 2em;
				}
			}


			h3 {
				color: $white;
				font-weight: bold;
			}

			i {
				font-size: 1.2em;
				margin-right: 1em;

				&.fa-phone {
					transform: scaleX(-1);
					margin-bottom: .5em;
				}
			}

			&.text {
				h3 {
					margin-bottom: 1.5em;
				}
			}

			&.social {
				h3 {
					margin-bottom: 1.5em;
				}

				.socials {

				}
			}
		}
	}
}

#copyright {
	background-color: $copyright;
	color: $font;
	padding: 1em 0;

	.container {
		padding-top: 0;
		padding-bottom: 0;

		@include flexbox();
		@include flex-flow(row wrap);

		@media(min-width: $breakpoint-20) {
			@include flex-flow(row nowrap);
		}

		.column {
			width: 100%;

			@media(min-width: $breakpoint-20) {
				width: 50%;
			}

			a {
				color: $font;
				text-decoration: none;
				font-size: 0.813rem;

				&:hover {
					color: $brand;
				}
			}

			.nav-footer {
				ul {
					margin: 0;
					text-align: left;

					@media(min-width: $breakpoint-20) {
						text-align: right;
					}

					li {
						display: inline-block;

						a {
							&:hover {
								text-decoration: underline;
							}
						}
						&:after {
							content: "/";
							padding-left: .4em;
							font-weight: bold;
						}

						&:last-of-type {
							&:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
