section.s-breadcrumbs {
	background-color: #f1f1f1;
	padding: 0;
	height: 45px;

	.container {
		padding-top: 0;
		padding-bottom: 0;

		height: 45px;

		@include flexbox();
		@include flex-flow(row nowrap);
		@include align-items(center);

		.breadcrumbs {
			font-size: .9em;

			a {
				color: $font;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}


			i {
				font-size: .8em;
				padding: 0 1em;
				color: $brand;
			}
		}
	}
}
