section.s-contact {

	.contact-form {
		@include grid(48);

		@media (min-width: $breakpoint-30) {
			@include grid(34,0,2);
			text-align: left;
		}

		section.s-builder {
			padding: 0;

			.content {
				background-color: $white;
			}
			.container {
				padding: 0;
			}
		}

		form{
			select {
				height: 3.63rem;
				background-color: $white;
				color: #757575;
			}

			.verplicht {
				width: 100%;
				display: inline-block;
				text-align: left;
				color: $gray;

				span {
					color: $brand;
				}

				@media (min-width: $breakpoint-20) {
					text-align: right;
				}
			}
		}
	}

	.contact-info {
		@include grid(48);

		@include flexbox;
		@include flex-flow(column wrap);
		@include justify-content(space-between);

		@media (min-width: $breakpoint-30) {
			@include grid(14);
		}

		.block {
			padding: 2em;
			height: auto;
			margin-bottom: 2em;

			&.info {
				@include flexbox();
				@include flex-flow(column wrap);
				background-color: $brand;

				@media (min-width: $breakpoint-20) {
					@include flex-flow(row wrap);
				}


				h3 {
					color: $white;
					font-size: 1.313em;
					font-weight: bold;
					width: 100%;
					margin-bottom: 1em;
				}

				span {
					color: $white;
					display: inline-block;
					width: 100%;

					strong {
						display: inline-block;
						width: 50px;

						&.title {
							width: 100%;
						}
					}

					a {
						color: $white;
						text-decoration: none;

						i {
							margin-right: 1em;
							&.fa-phone {
								transform: scaleX(-1);
							}
						}

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			&.route {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;

				padding: 10em 2em;

				a.button {
					position: absolute;
					bottom: 2em;
					left: 2em;

					i {
						margin-right: 0.8em;
					}
				}
			}
		}
	}
}
