section.s-content {
	.container {
		@include flexbox();
		@include flex-flow(row wrap);

		@media(min-width: $breakpoint-20) {
			@include flex-flow(row nowrap);
		}

		.content {
			width: 100%;
			float: left;
			padding-right: 0;

			@media(min-width: $breakpoint-20) {
				padding-right: 1em;
			}
		}

		.sidebar {
			@include flex(0 0 100%);
			float: left;
			padding-top: 1em;
			padding-left: 0;

			@media(min-width: $breakpoint-20) {
				@include flex(0 0 260px);
				padding-left: 1em;
			}

			@media(min-width: $breakpoint-30) {
				@include flex(0 0 340px);
			}

			.image {
				position: relative;
				margin-bottom: 1em;
				img {
					width: 100%;
					height: auto;
				}
			}

			.content {
				position: relative;
				padding: 2.5em 2em;
				background-color: $brand;
				color: $white;
				margin-bottom: 1em;

				p {
					margin-bottom: 2em;
				}

				h3 {
					color: $white;
					font-weight: bold;
					margin-bottom: 1em;
				}
			}

			.video {
				position: relative;
				width: 100%;
				padding-top: 100%;
				margin-bottom: 1em;
				display: inline-block;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

				.overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(0,0,0,.5);

					@include flexbox;
					@include flex-flow(row nowrap);
					@include justify-content(center);
					@include align-items(center);
					@include transition();

					i {
						color: $white;
						font-size: 3em;
						@include transition();
					}
				}

				&:hover {
					.overlay {
						background-color: rgba(0,0,0,.3);
						@include transition();

						i {
							color: $brand;
							@include transition();
						}
					}
				}
			}
		}

		.tarieven {
			background-color: #626262;
			padding: 2em;
			color: $white;

			h3 {
				color: $white;
				font-weight: bold;
			}

			a {
				color: $brand;
			}
		}

		.sharebox {
			width: 100%;
			background-color: rgba(0,0,0,.05);
			padding: 1em 1.5em;
			margin-top: 2em;

			@include flexbox;
			@include flex-flow(row wrap);
			@include align-items(center);

			span {
				margin-right: 1.5em;
				color: $brand;
				font-size: 0.938em;
				font-weight: bold;
				margin-bottom: 1em;

				@media ( min-width: $breakpoint-20) {
					margin-bottom: 0;
				}
			}

			.return {
				color: $brand;
				display: inline-block;
				margin-left: auto;
			}

			ul.social-icons {
				margin: 0;
				list-style-type: none;

				@include flexbox;
				@include flex-flow(row wrap);
				@include align-items(center);

				li.share {
					display: inline-block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					margin-right: 0.5em;
					background-color: $brand;
					margin-bottom: 1em;

					@media ( min-width: $breakpoint-20) {
						margin-bottom: 0;
					}

					a{
						height: 45px;
						display: inline-block;

						i {
							width: 45px;
							height: 45px;
							border-radius: 50%;
							background-color: $brand;
							color: $white;

							position: relative;
							display: inline-block;
							@include transition;

							&:before {
								position: absolute;
								display: block;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}

							&:hover {
								background-color: darken($brand, 10%);
								@include transition;
							}
						}
					}
				}
			}
		}
	}
}
