section.s-logoslider {
    padding: 4rem 0 0 0;

	@media(min-width: $breakpoint-30) {
		padding: 6rem 0 0 0;
	}

	&.contact {
		padding: 2em;
	}

	#slider-logo {
		.slide {
			height: 150px;

			display: -webkit-box !important;
			display: -moz-box !important;
			display: -ms-flexbox !important;
			display: -webkit-flex !important;
			display: flex !important;

			@include flex-flow(row nowrap);
			@include justify-content(center);
			@include align-items(center);

			img {
				max-width: 70%;
				max-height: 70%;

				@include grayscale(100%);
				opacity: .2 !important;

				@include transition();
			}

			&:hover {
				img {
					@include grayscale(0%);
					opacity: 1 !important;
					@include transition();
				}
			}
		}
	}
}
