// =========== Base

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

*,
*:after,
*:before {
	box-sizing: border-box;
}

::selection {
	background: #fefac7;
	color: #555555;
}

html {
	color: $font;
	font: 400 $font-size-base $font-family-body;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	height: 100%;
	line-height: 1.2em;
	overflow-x: hidden;

	&.noscroll {
		overflow: hidden;
	}
}

body {
	height: 100%;
	color: $font;
	line-height: 1.857em;

	&.noscroll {
		overflow: hidden;
	}
}

figure {
	display: inline-block;
	margin: 0;
	width: 100%;
	img {
		display: block;
		max-width: 100%;
		margin: auto;
		height: auto;
	}
}

table {
	border-collapse: separate;
	border-radius: $border-radius-10;
	border-spacing: 0;
	margin-bottom: $spacing;
	width: 100%;
}

thead th {
	padding: $spacing / 2;
	text-align: left;
	background: $black;
	color: $white;
	font-weight: 600;
}

tbody {
	tr{
		&:nth-child(2n) {
			background: $gray;
		}
	}

	td {
		padding: $spacing / 2;
	}
}


// Headings
h1, h2, legend, h3, h4, h5, h6, %h1, %h2, %h3, %h4, %h5, %h6 {
	font-family: $font-family-heading;
	line-height: 1.2em;
	margin: 0 0 0.25em 0;
	color: $brand;
	font-weight: 200;
}

h1,
%h1 {
	font-size: 1.500em;
	@media (min-width: $breakpoint-20) {
		font-size: 2.750em;
	}
}

h2,
%h2,
legend {
	font-size: 1.5em;
	color: $brand;
	margin-bottom: 1.5rem;
	@media (min-width: $breakpoint-20) {
		font-size: 2.063em;
	}
	@media (min-width: $breakpoint-40) {
		font-size: 2.688em
	}
}

h3,
%h3 {
	font-size: 1.2em;
	@media (min-width: $breakpoint-20) {

	}
}

h4,
%h4 {
	font-size: 1.3rem;
	@media (min-width: $breakpoint-20) {
		font-size: 1.4rem;
	}
}

h5,
%h5 {
	font-size: 1.2rem;
	@media (min-width: $breakpoint-20) {
		font-size: 1.3rem;
	}
}

h6,
%h6 {
	font-size: 1.1rem;
	@media (min-width: $breakpoint-20) {
		font-size: 1.2rem;
	}
}

p {
	font-size: 0.813em;
	line-height: 22px;
	margin-bottom: $spacing;
	word-wrap: break-word;

	@media (min-width: $breakpoint-30) {
		font-size: 0.875em;
	}
}

li {
	font-size: 0.813em;
	word-wrap: break-word;

	@media (min-width: $breakpoint-30) {
		font-size: 0.875em;
	}
}


// Links
a {
	@include transition;
	color: $link;
	cursor: pointer;
	text-decoration: none;
	transition: color 60ms ease-out;
	&:hover {
		color: $secondary;
		text-decoration: underline;
	}
}


// Other
small {
	color: inherit;
	font-size: $font-size-20;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

code, pre {
	font-family: 'courier new', monospace;
}

pre {
	overflow-x: auto;
}

abbr {
	border-bottom: 1px dotted $gray;
}

del {
	text-decoration: line-through;
}

mark {
	background-color: lighten(yellow, 35%);
}

hr {
	background-color: transparent;
	border: solid $gray;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.5rem $spacing;
}


// Lists
ul, ol {
	margin: 0 0 $spacing 1.5rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin-bottom: $spacing;
	dt {
		font-weight: bold;
	}
	dd {
		margin-left: $spacing;
	}
}

// IE fix for SVG
img[src*=".svg"] {
	width: 100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src*=".svg"] {
		width: 100%;
	}
}
