// =========== Layout
section, header, footer {
  overflow: hidden;
}

// Build up your container to get your website centered
.container {
  margin: auto;
  max-width: $max-width;
  padding: $spacing;
  position: relative;
  @include grid-container;

  @media (min-width: $breakpoint-20) {
    padding: 2rem 2.5rem;
  }
  @media (min-width: $breakpoint-30) {
    padding: 3rem 2.5rem;
  }
  @media (min-width: $breakpoint-40) {
    padding: 4rem 2.5rem;
  }

  &.wide {
	max-width: 1340px;
	width: 100%;
  }
  &--full-width {
    max-width: none;
    margin: 0;
  }
}
