// =========== Settings

// Most of the variables are based on some kind of percentages to maintain stability and consistency.
// So $variable-10 is small or light and $variable-100 is big or dark.


// Set your own font
$font-family-body: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;


// The base font-size, all other elements will adjust to this value
$font-size-base: 100%;

$font-size-10: 0.75rem;
$font-size-20: 0.875rem;
$font-size-30: 1rem;
$font-size-40: 1.125rem;
$font-size-50: 1.25rem;


// The grid columns will be used in the grid mixin, 48 is standard
$grid-columns: 48;
$grid-gutter: 1;


// Adjust the website's maximum width.
$max-width: 1340px;


// Use the spacing variable on margins and paddings
$spacing: 1.2rem;


// Adjust the border-radius
$border-radius-10: 0.25rem;
$border-radius-20: 0.5rem;

// shaddow
$box-shadow-10: 0px 2px 4px rgba(0,0,0,.24);
$box-shadow-20: -6px 7px 15px 0 rgba(0,0,0,.27);


// Media queries
// Adjust them to you needs or add more
$breakpoint-5: 430px;
$breakpoint-10: 600px;
$breakpoint-20: 750px;
$breakpoint-30: 1000px;
$breakpoint-40: 1200px;
$breakpoint-45: 1440px;
$breakpoint-50: 1920px;


// Z-index plan
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;


// Transition
$transition: .2s ease-in-out;

$font: #333333;
$font-light: #858585;
$color-neutral: #f1f1f1;

// Color basics
$black: #000;
$white: #fff;
$gray: #9a9a9a;
$brand: #1872bd;
$secondary: lighten($brand, 10%);
$link: $brand;

// Theme colors
$topbar: #f7f7f7;
$navbg: $brand;
$footer: $brand;
$copyright: $color-neutral;


// Alert colors
$green-alert: #1b9760;
$red-alert: #ff4646;

// Socials
$twitter: #14c5f9;
$facebook: #3a5799;
$instagram: #696a6a;
$linkedin: #006bc3;
$google-plus: #e13123;
